@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Roboto-Medium.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    color: #000000;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 45px;
}

.site-list_item a,
.trash {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
}

.advantages_title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}

.advantages_description {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.button {
    display: inline-block;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 54px;
    padding-right: 54px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #FB565A;
    border-radius: 3px;
    border: none;
}

.button--green {
    background-color: #00CA74;
}

.button--yellow {
    background-color: #EFC849;
}

.services_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.services_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.services_description {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.company_title {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.company_description {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.company_subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    text-transform: uppercase;
}

.company_subtitle--black {
    color: #000000;
}

.company_advantages {
    margin: 0;
    padding: 0;
    list-style: none;
}

.percent {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
}

.percent sup {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
}

.header {
  background-color: #EEEEEE;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    padding-top: 44px;
    padding-left: 140px;
    padding-right: 140px;
    box-sizing: border-box;
    align-items: center;
}

.services_list {
    display: flex;
}

.partners {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.company_advantages {
    display: flex;
}
